[{riak_err, [{console_sasl_reports, true}]},
 {elog, [{level, debug}, %% Global level
         {logger, {elogger_file, "logs/elog.log"}}, %% Default logger
         {warn, [{logger, {elogger_console, []}}]},
         {error, [{logger, {elogger_mail, [{source, {"The Alerter", "alerter@inakanetworks.com", "7y6t5r4e"}},
                                           {recipients, ["fernando.benavides@inakanetworks.com"]},
                                           {subject, "There was a ~p on the Server"}
                                           ]}}]}
        ]}]. %% Params just for warnings]}